<div id="content" style="margin-top:100px">
    <h1 class="under-line-effect under-line-effect--red" style="text-align: center; color: grey">FEEDBACK</h1>
    <ul class="feedback__list">
        {{#each orders}}
        {{#if this.feedback}}
        <li class="feedback__item">
            <div class="feedback__wrapper">
                <div class="feedback__user-info">
                    <img src="{{imageload this.image this.imageType}}" alt="" class="feedback__img">
                    <div class="feedback__name info__label">{{this.userName}}</div>
                </div>
                <div class="feedback__desc">
                    <div class="feedback__item info__label">Order: {{this._id}}</div>
                    <span class="feedback__content">{{this.feedback.text}}</span>
                    <div class="feedback__time">{{this.feedback.date}}</div>
                </div>
            </div>
        </li>
        {{/if}}
        {{else}}
        <h3>No User Feedback</h3>
        {{/each}}

    </ul>
</div>