<div id="content">

<form style="margin-top: 100px" name="container-form" method="POST" action="/menu/handle-form-action">
    <h1 style="">
      <span class="under-line-effect under-line-effect--red" > Revenue </span>
      {{#if deletedCount }}
      <a href="/manager/trash">
        {{!-- <img src="/image/trash.jpg" width="40" height="40" class="d-inline-block align-top" alt=""> --}}
        <i class="fas fa-trash-alt"></i>
        ({{deletedCount}})
      </a>
      {{/if}}
    </h1>
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all" style="padding: 20px 20px 20px 20px">
            Select All
          </label>
        </div>

        <select class="form-control form-control-sm select-all-option info__value" name="action" style="font-size: 1.6rem; height: 3.7rem; margin-left: 10px; margin-right: 10px; width:200px" required>
          <option value="">--Choose Action--</option>
          <option value="delete">Delete products</option>
          <option value="add-recommed">Add recommended products</option>
          <option value="remove-recommed">Delete recommended products</option>
        </select>

        {{!-- <button class="btn btn-primary btn-sm btn-check-submit" disabled>Thực hiện</button> --}}
        <button type="submit" class="product__item-btn btn-red" style="color: white; margin-top: -11px;">Action</button>
    </div>
    <table class="table mt-4" style="font-size: 1.4rem; text-align: center">
      <thead>
          <tr>
              <th scope="col" style="text-align: left">Choose</th>
              <th scope="col">ID</th>
              <th scope="col">
                Product Name
              {{{sortable 'name' _sort page}}}
              </th>
              <th scope="col">
                Category
              {{{sortable 'type_dish' _sort page}}}
              </th>
              <th scope="col">
                Sold
                {{{sortable 'sale' _sort page}}}
              </th>
              <th scope="col" >
                Price(VND)
                {{{sortable 'price' _sort page}}}
              </th>
              <th scope="col">Recommended</th>
              <th scope="col" >
                Revenue
              </th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          {{#each dishes}}
          <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="dishIds[]" value="{{this._id}}">
                </div>
              </td>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.type_dish}}</td>
              <td>{{this.sale}}</td>
              <td>{{this.price}}</td>
              <td>
                  {{#if this.recommend}}
                  <input type="checkbox" checked disabled>
                  {{else}}
                  <input type="checkbox" disabled>
                  {{/if}}
              </td>
              <td>{{mul this.sale this.price}} VND</td>
              <td>
                  <a href="/manager/{{this._id}}/edit"  class="product__item-btn btn-red" style="color: white; margin-top: 0">Edit</a>
                  <a href=""  class="product__item-btn btn-red" style="color: white; margin-top: 0" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-dish-modal">Delete</a>
              </td>
          </tr>
          {{else}}
          <tr>
              <td colspan="5" class="text-center">
                You have not ordered products yet !!!
                <a href="/manager/create">Order Now</a>
              </td>
          </tr>
          {{/each}}
      </tbody>
    </table>
    {{{paging count page}}}
</form>
</div>

<!--confirm delete-->
<div id="delete-dish-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning !!!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-dish" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!--delete-form-->
<form name="delete-dish-form" method="POST"></form>

<script>
  
  document.addEventListener('DOMContentLoaded',function(){
    var dishId;
    var deleteForm = document.forms['delete-dish-form'];
    var containerForm = document.forms['container-form'];
    var btnDeleteDish = document.getElementById('btn-delete-dish');
    var checkboxAll = $('#checkbox-all');
    var dishItemsCheck = $('input[name="dishIds[]"]');
    var checkSubmitButton = $('.btn-check-submit');

    $('#delete-dish-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        dishId = button.data('id');
    });

    btnDeleteDish.onclick = function (){
      deleteForm.action = '/menu/' + dishId + '?_method=DELETE';
      deleteForm.submit();
    };
    
    checkboxAll.change(function () {
      var isCheckAll = $(this).prop('checked');

      dishItemsCheck.prop('checked',isCheckAll);
      renderSubmitButton();
    });

    dishItemsCheck.change(function(){
      var isCheckAll = dishItemsCheck.length === $('input[name="dishIds[]"]:checked').length;
      checkboxAll.prop('checked',isCheckAll);
      renderSubmitButton();
    });

    function renderSubmitButton(){
      var checkedCount = $('input[name="dishIds[]"]:checked').length;
      if(checkedCount > 0){
        checkSubmitButton.attr('disabled',false);//set attribute
      }
      else{
        checkSubmitButton.attr('disabled',true);
      }
    }

  });

</script>