<div class="mt-4">
    <h2>Món ăn</h2>
    <div class="row" >   
        {{#each dishes }}
        {{!-- {{#if (isMatch this.type_dish 'main_dish')}} --}}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="{{imageload this.image this this.imageType}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p><b>Loại món:</b>{{this.type_dish}}<p>
                    <p><b>Đánh giá:</b> ⭐ ⭐ ⭐ ✰ ✰ <p>
                    <p><b>Giá tiền:</b>{{this.price}} VNĐ<p>
                    <a href="#" class="btn btn-primary">Mua</a>
                </div>
            </div>
        </div>
        {{!-- {{/if}} --}}
        {{else}}
            Chưa có món ăn được thêm.
        {{/each}}
    </div>
    
    {{{paging count page}}}
</div>