<div class="grid table-reservation">
    <div class="booktable-banner">THANK YOU FOR YOUR RESERVATION !!!</div>
    
    <div class="row">
        <div class="col l-7 table-location mb-40 mt-4">
            <div class="content__header">
                <h3 class="content__header-heading">
                    <span class="under-line-effect under-line-effect--red">YOUR TABLE RESERVATION INFORMATION</span>
                </h3>
                <br/>
                <div class="book-table-info">
                    <div class="table-reservation-info">
                        <h3>Tên khách hàng: </h3>
                        <h3>{{newtable.name}}</h3>
                    </div>
                    <div class="table-reservation-info">
                        <h3>Email: </h3>
                        <h3>{{newtable.email}}</h3>
                    </div>
                    <div class="table-reservation-info">
                        <h3>Ngày đặt: </h3>
                        <h3>{{newtable.date}}</h3>
                    </div>
                    <div class="table-reservation-info">
                        <h3>Giờ đặt: </h3>
                        <h3>{{newtable.time}}</h3>
                    </div>
                    <div class="table-reservation-info">
                        <h3>Bàn số: </h3>
                        <h3>{{newtable.tableID}}</h3>
                    </div>
                </div>
            </div>
            <h3>Khách hàng có thể kiểm tra bàn đã đặt qua địa chỉ email <333</h3>
        </div>  
    </div>  
</div>