<div class="grid table-reservation">
    <div class="booktable-banner">THANK YOU FOR YOUR RESERVATION !!!</div>
         
    <div class="col l-7 table-location mb-40 mt-4">
        <div class="content__header">
            <h3 class="content__header-heading">
                <span class="under-line-effect under-line-effect--red">YOUR TABLE RESERVATION INFORMATION</span>
            </h3>
            <br/>
            <h3>Tên khách hàng: {{newtable.name}}</h3>
            <h3>Email: {{newtable.email}}</h3>
            <h3>Ngày đặt: {{newtable.date}}</h3>
            <h3>Giờ đặt: {{newtable.time}}</h3>
            <h3>Số người: {{newtable.numofguests}}</h3>
            <h3>Số bàn: {{newtable.tableID}}</h3>
        </div>
        <h3>Khách hàng có thể kiểm tra bàn đã đặt qua địa chỉ email <333</h3>
    </div>    
</div>