<form method="POST" name="choose-table-form" action="/booktable/thankyou" id="form-all">
    <div class="grid table-reservation">
        <div class="row">
            {{!-- <button class="btn btn-dark btn-sm check-all-submit-btn" disabled>Thực hiện</button> --}}
            <div class="col l-5 table-date-time">
                <label for="date" class="table__header-heading under-line-effect">Date</label>
                <input type="Date" class="table__input" id="date" name="date" value="{{newtable.date}}">

                <label for="time" class="table__header-heading under-line-effect">Time</label>
                <input class="table__input" id="time" name="time" type="time" value="{{newtable.time}}" >

                <label for="tableID" class="table__header-heading under-line-effect" hidden>Table ID</label>
                <input class="table__input" id="tableID" name="tableID" type="tableID" value="" hidden>

            </div>
            <div class="col l-7 table-location mb-40">
                <div class="content__header">
                    <h3 class="content__header-heading">
                        <span class="under-line-effect under-line-effect--red">BOOK YOUR TABLE</span>
                    </h3>
                </div>
                <div class="grid">
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input data-toggle="modal" data-target="#delete-course-model" id="table-img-1" type="image" class="table-img" src="{{tablelist.table1}}" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input data-toggle="modal" data-target="#delete-course-model" id="table-img-2" type="image" class="table-img" src="{{tablelist.table2}}" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input data-toggle="modal" data-target="#delete-course-model" id="table-img-3" type="image" class="table-img" src="{{tablelist.table3}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input data-toggle="modal" data-target="#delete-course-model" id="table-img-4" type="image" class="table-img" src="{{tablelist.table4}}" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input data-toggle="modal" data-target="#delete-course-model" id="table-img-5" type="image" class="table-img" src="{{tablelist.table5}}" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input data-toggle="modal" data-target="#delete-course-model" id="table-img-6" type="image" class="table-img" src="{{tablelist.table6}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input data-toggle="modal" data-target="#delete-course-model" id="table-img-7" type="image" class="table-img" src="{{tablelist.table7}}" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input data-toggle="modal" data-target="#delete-course-model" id="table-img-8" type="image" class="table-img" src="{{tablelist.table8}}" alt="">
                            </div>
                        </div>
                        <div class="col l-4 table-wrapper">
                            <div class="table-img-background">
                                <input data-toggle="modal" data-target="#delete-course-model" id="table-img-9" type="image" class="table-img" src="{{tablelist.table9}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{{!-- Confirm delete course --}}
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="delete-course-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn chọn bàn này?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-cancel-table" class="btn btn-dark" data-dismiss="modal">Hủy</button>
        <button id="btn-choose-table" type="button" class="btn btn-danger">Chọn bàn</button>
      </div>
    </div>
  </div>
</div>

{{!-- <form name="choose-table-form" action="/booktable/thankyou" method="POST"></form> --}}
{{!-- <script>
    //document.addEventListener('changeTable', function () {
    //    var table = document.getElementById('table1');
    //    console.log(table);
    //});

    //var table1 = document.getElementById('table1');
    //table1.onclick = function(){
    //    table1.style.display = 'none';
    //    table1.removeAttribute('id');
    //    console.log(table1);
    //    document.getElementById('table1').style.display = 'block';
    //}

    var table =document.querySelectorAll('img');
    //console.log(table);
    var table_temporary = [];
    for (var i = 0; i < table.length; i++) {
            table[i].onclick = function (e){
                //console.log(e.target.src);
                if(e.target.src === "http://localhost:3000/image/dinner_disable.png"){
                    alert('The table is already booked!')
                }
                else if(e.target.src === "http://localhost:3000/image/dinner_select.png"){
                    e.target.src = "./image/dinner.png";
                }
                else{
                    //console.log(e.target);
                    e.target.src = "./image/dinner_select.png";
                    alert('Please choose date, time and number of guests!');
                    table_temporary.push(e.target);
                }
            }
    }
    //console.log(table_temporary);
    var book_btn = document.querySelectorAll('button');
    //console.log(book_btn[0]);
    book_btn[0].onclick = function() {
        //console.log(e.target);
        for(var i = 0; i < table_temporary.length; i++) {
            table_temporary[i].src = "./image/dinner_disable.png";
        }
        alert('You have successfully booked your table !');
    }

    var id_table = [];
    for (var i = 1; i < table.length; i++) {
        table[i].id = i;
        console.log(table[i].id);
        id_table.push(table[i].id);
    }

    document.addEventListener('DOMContentLoaded', function() {
        var tableImage1 = $('.table-img-1');
        var checkAllSubmitBtn = $('.check-all-submit-btn');
        var checkBoxAll = $('#checkbox-all');
        console.log(checkBoxAll);
    
    });

</script> --}}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tableImage1 = $('#table-img-1');
        var tableImage2 = $('#table-img-2');
        var tableImage3 = $('#table-img-3');
        var tableImage4 = $('#table-img-4');
        var tableImage5 = $('#table-img-5');
        var tableImage6 = $('#table-img-6');
        var tableImage7 = $('#table-img-7');
        var tableImage8 = $('#table-img-8');
        var tableImage9 = $('#table-img-9');
        
        var btnChooseTable = $('#btn-choose-table');
        var btnCancelTable = $('#btn-cancel-table');
        var tableID = $('#tableID');
        var formAll = $('#form-all');
        var tableImage = $('.table-img');
        var chooseTableForm = document.forms['choose-table-form'];

        btnCancelTable.click(function(e) {
            e.preventDefault();
            tableID.val("")
        });
        tableImage1.click(function(e){
            e.preventDefault();
            tableID.val("1");
        });
        tableImage2.click(function(e){
            e.preventDefault();
            tableID.val("2");
        });
        tableImage3.click(function(e){
            e.preventDefault();
            tableID.val("3");
        });
        tableImage4.click(function(e){
            e.preventDefault();
            tableID.val("4");
        });
        tableImage5.click(function(e){
            e.preventDefault();
            tableID.val("5");
        });
        tableImage6.click(function(e){
            e.preventDefault();
            tableID.val("6");
        });
        tableImage7.click(function(e){
            e.preventDefault();
            tableID.val("7");
        });
        tableImage8.click(function(e){
            e.preventDefault();
            tableID.val("8");
        });
        tableImage9.click(function(e){
            e.preventDefault();
            tableID.val("9");
        });
        btnChooseTable.click(function(){
            chooseTableForm.submit();
        });
    });
</script>