<div id="content" class="col-sm-12">
      <h1 class="under-line-effect under-line-effect--red" style="text-align: center; color: grey">SHOPPING CART</h1>
{{#if cartdishes}}
      {{!-- <form method="post"> --}}
        <div class="table-responsive table-checkout-cart">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Remove</th>
                <th class="text-center">Image</th>
                <th class="text-center">Product Name</th>
                <th class="text-center">Quantity</th>
                <th class="text-right">Unit Price</th>
                <th class="text-right">Total</th>
              </tr>
            </thead>
            <tbody>
              
            

              {{#each cartdishes }}
              
              <tr data-line="1">
                
                <td class="text-center btn-remove-product">

                 <form method="POST" action="/user/remove-from-cart/{{this.item._id}}">
                    <input type="hidden" name="id" value="{{this.item._id}}">
                  <button type="submit" class="btn-remove"  id="id" value="{{this.item._id}}" style="margin-left: 5px;"><i class="fal fa-trash-alt"></i> </button>
                 </form>
                 
                </td>
                 
                <td class="text-center">
                  <a href="">
                    <img src="{{imageload this.item.image this.item.imageType}}" alt=""  class="product_item-img">
                    
                  </a>
                </td>
                <td class="text-center">
                  <h5><a href="">{{this.item.name}}</a></h5>
                 
                </td>
                <td class="text-center">
                  <div class="input-group btn-block" style="max-width: 80px;min-width: 70px;">
                    <div class="form-quantity">
                      {{!-- <div class="btn-minus"><input value="-" class="qty minus" onclick="click(-1,{{this.qty}})"></div> --}}
                      {{!-- <input type="text" name="updates[]" value="{{this.qty}}" style="color: black" min="0" class="form-control cart-qty" data-line="1"> --}}
                      {{!-- <p id="test">{{this.qty}}</p> --}}
                      {{!-- <div class="btn-plus"><input type="button" value="+" class="qty plus" onclick="increase({{this}})"></div> --}}
                      <input type="number" class="cart__quantity" value="1" min="1" style="width: 120px; padding: 0px; box-sizing: content-box">
                    </div>
                  </div>
                </td>
                <td class="text-right"><span class="price-product"><span class="money">${{this.item.price}}</span></span></td>
                <td class="text-right"><span class="total-price"><span class="money">${{this.price}}</span></span></td>
              </tr>
              
              {{/each}}

            
              
            </tbody>
          </table>
          <div class="checkout-cart-buttons group-btn-1">
            <div class="button-shopping">
              <a href="/" class="product__item-btn btn-red" style="color: white; cursor: pointer; margin: 20px 0; float: right">Continue Shopping</a>
            </div>
            
            {{!-- <div class="button-update-cart">
              <button type="submit" title="Update" class=" btn-large featured-product__btn mb-40 btn-red" style="cursor: pointer">Update cart</button>
            </div> --}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-xs-12">
            <div class="panel-group" id="accordion">
              
              <div class="panel panel-default">
                
                <div id="collapse-coupon" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="col-sm-12">
                      <textarea class="form-control" rows="6" name="note" id="cartSpecialInstructions"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box-show-price">
              <table class="table table-bordered">
                <tbody><tr>
                  <td colspan="2" class="text-center"><strong>Shipping, taxes, and discounts will be calculated at checkout.</strong></td>
                </tr>
                
                <tr>
                  <td class="text-right"><strong>Subtotal:</strong></td>
                  <td class="text-right"><span class="total-price"><span class="money" data-currency-usd="$250.00">${{totalPrice}}</span></span></td>
                </tr>
              </tbody></table>
              <div class="checkout-cart-buttons group-btn-2">
                <div class="button-checkout-cart">
                  <button type="submit" title="Update" class="product__item-btn btn-red" style="cursor: pointer; color: white">UPDATE CART</button>
                  <a href="/user/payment" class="product__item-btn btn-red" style="cursor: pointer; float: right; color: white">PROCEED TO CHECK OUT</a>
                </div>

                
              </div>
            </div>
          </div>
        </div>
      {{!-- </form> --}}

      

      <script>
          
          function clicked(n, qty) {
              var test = document.getElementById("test");
              qty += n;
              test.innerHTML = qty;
          };
      </script>



      <script>

        {{!-- function increase(this, totalQty, totalPrice) {
          this.qty++;
          this.price += this.item.price;
          totalQty++;
          totalPrice += this.item.price;
        } --}}


        $(document).ready(function () {
            var plus = $('.btn-plus')
            var minus = $('.btn-minus')
           
            plus.each(function (index, plusBtn) {
                var jplus = $(plusBtn)
                jplus.click(function () {
                    var quantity = parseInt(jplus.prev().val()) + 1
                    jplus.prev().val(quantity)

                    var test = (jplus.parent()).parent().next()
                    var priceProduct = test.find('.slidebar__wrap-price').text()
                
                    var total = 5 * quantity
                    console.log(priceProduct)
                    test.find('.slidebar__wrap-price').text(total)
                })
            })
         
            minus.each(function (index, minusBtn) {
                var jminus = $(minusBtn)
                jminus.click(function () {
                    if (parseInt(jminus.prev().val()) == 0)
                        var quantity = parseInt(jminus.prev().val()) - 1
                    jminus.prev().val(quantity)

                    var test = (jminus.parent()).parent().next()
                    var priceProduct = test.find('.slidebar__wrap-price').text()
                 
                    var total = 5 * quantity
                    console.log(priceProduct)
                    test.find('.slidebar__wrap-price').text(total)
                })
            })
         
            var addBtn = $('.js-add-btn')
            var cart1 = document.querySelector('.slidebar__wrap-list')
            var cart = $('.slidebar__wrap-list')
            addBtn.click(function () {
                var parentProduct = addBtn.parentsUntil('.feature-item')[0]
                var productPictureSrc = parentProduct.querySelector('.product__item-img').getAttribute('src')
                var price = parentProduct.querySelector('.product__item-price .product__item-price-sale').innerHTML
                console.log(price)
                var productInfo = `<li class="slidebar__wrap-item">
            <img src="/image/fried_chicken.jpg" alt="" class="slidebar__wrap-img">
            <div class="slidebar__wrap-info">
              <a href="" class="slidebar__wrap-info-product">Fried Chicken</a>

              <span class="slidebar__wrap-info-food">
                <button class="btn-minus" onclick="decrease()">-</button>
                <input class="slidebar__wrap-info-quantity" id="productQuantity" type="text" value="1"></input>
                <button class="btn-plus" onclick="increase()">+</button>
              </span>
            </div>
            <div class="slidebar__wrap-trash-and-price">
              <i class="fal fa-trash-alt trash-btn"></i>
              <div class="slidebar__wrap-price">${price}</div>
            </div>
          </li>`
                cart.append(productInfo)

            })


            var trashBtnes = $('.trash-btn')
            trashBtnes.each(function (index, trash) {
                var jtrash = $(trash)
                jtrash.click(function () {
                    var htmltrash = jtrash[0];
                    var trashBtnParent = (htmltrash.parentElement).parentElement

                    trashBtnParent.remove()
                })

            })
        })
      </script>


      {{else}}
{{/if}}