
<div class="content__header" style="margin-top: 100px">
    <h3 class="content__header-heading">
        <span class="under-line-effect under-line-effect--red">PAYMENT</span>
    </h3>
</div>

<div class="grid" style="padding-left: 120px; margin-bottom: 100px">
    <div class="row">
        <div class="col l-6">
            <div class="contact__info">
                <div class="contact__row" style="padding-bottom: 10px;">
                    <span class="contact__label">Contact</span>
                    <span class="contact__desc">{{user.email}}</span>
                    <span class="contact__change">Change</span>
                </div>
                <div class="contact__row bd-t" style="padding-top: 10px;">
                    <span class="contact__label">Ship to</span>
                    <span class="contact__desc">{{user.address}}</span>
                    <span class="contact__change">Change</span>
                </div>
            </div>

            <h3 class="payment__title">Payment</h3>
            <div class="payment__info">
                <ul class="payment__list">
                    <li class="payment__method">
                        <label class="payment__method-wrapper">
                            <input type="radio" readonly="" name="payment-methods" value="cod" id="cod" /><span
                                class="radio-fake"></span>
                            <span class="payment__label">
                                <div class="payment__method-desc">
                                    <img class="method-icon" width="32"
                                        src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-cod.svg"
                                        alt="cod" />
                                    <div class="method-content">
                                        <div class="method-content__name"><span>Cash payment on delivery</span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </label>
                    </li>
                    
                    <li class="payment__method">
                        <label class="payment__method-wrapper">
                            <input type="radio" readonly="" name="payment-methods" value="momo" id="momo" checked="" /><span
                                class="radio-fake"></span>
                            <span class="payment__label">
                                <div class="payment__method-desc">
                                    <img class="method-icon" width="32"
                                        src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-mo-mo.svg"
                                        alt="momo" />
                                    <div class="method-content">
                                        <div class="method-content__name"><span>Thanh toán bằng ví MoMo •• 2443</span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </label>
                    </li>

                    <li class="payment__method">
                        <label class="payment__method-wrapper">
                            <input type="radio" readonly="" name="payment-methods" id="zalopay" value="zalopay" /><span
                                class="radio-fake"></span>
                            <span class="payment__label">
                                <div class="payment__method-desc">
                                    <img class="method-icon" width="32"
                                        src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-zalo-pay.svg"
                                        alt="zalopay" />
                                    <div class="method-content">
                                        <div class="method-content__name"><span>Thanh toán bằng ví ZaloPay</span></div>
                                    </div>
                                </div>
                            </span>
                        </label>
                    </li>
                    
                    <li class="payment__method">
                        <label class="payment__method-wrapper">
                            <input type="radio" readonly="" id="credit" name="payment-methods" value="cybersource" /><span
                                class="radio-fake"></span>
                            <span class="payment__label">
                                <div class="payment__method-desc">
                                    <img class="method-icon" width="32"
                                        src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-method-credit.svg"
                                        alt="cybersource" />
                                    <div class="method-content">
                                        <div class="method-content__name"><span>Thanh toán bằng thẻ quốc tế Visa,
                                                Master, JCB</span></div>
                                        <div class="method-content__card-list">
                                            <img width="24"
                                                src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-credit-type-tiki-card.svg"
                                                alt="tikicard" />
                                            <img width="24"
                                                src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-credit-type-visa.svg"
                                                alt="visa" />
                                            <img width="24"
                                                src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-credit-type-mastercard.svg"
                                                alt="mastercard" />
                                            <img width="24"
                                                src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/checkout/icon-payment-credit-type-jcb.svg"
                                                alt="jcb" />
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </label>
                    </li>
                </ul>
            </div>

            <button class="product__item-btn btn-red" style="color: white;" id="checkout-btn" name="checkout-btn"  data-toggle="modal" data-target="#momo-form"  >Checkout</button>
            <button class="product__item-btn" >Return to shop</button>
        </div>
        <div class="col l-6">

            

            <div class="payment-product__wrap" style="margin-top: -30px">
                <ul class="slidebar__wrap-list">

                    {{#each cartdishes}}

                    <li class="slidebar__wrap-item">
                        <img src="{{imageload this.item.image this.item.imageType}}" alt="" class="slidebar__wrap-img">
                        <span class="payment-product__quantity">{{this.qty}}</span>
                        <div class="slidebar__wrap-info" style="flex: 1;">
                            <a href="" class="slidebar__wrap-info-product">{{this.item.name}}</a>

                        </div>
                        <div class="slidebar__wrap-price">${{this.price}}</div>      
                    </li>

                   {{/each}}

                </ul>
                <div class="slidebar__wrap-total">
                    <span class="slidebar__wrap-sub-total">SUBTOTAL</span>
                    <span class="slidebar__wrap-sub-total">${{subtotalPrice}}</span>
                </div>
                <div class="slidebar__wrap-total">
                    <span class="slidebar__wrap-sub-total">SHIPPING</span>
                    <span class="slidebar__wrap-sub-total">$5</span>
                </div>
                <div class="slidebar__wrap-total">
                    <span class="slidebar__wrap-sub-total">TOTAL</span>
                    <span class="slidebar__wrap-sub-total">${{totalPrice}}</span>
                </div>
            </div>
        </div>
    </div>

{{!-- FORM Payment Info --}}

 <form action="/user/stored-order" method="post" class="form" id="checkout-form">


<div class="modal fade" id="credit-card-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

   

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          

                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-name">Card Holder Name</label>
                        <input type="text" id="card-name" name="name" class="form-control" required>
                        <span class="form-message"></span>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-number">Credit Card Number</label>
                        <input type="text" id="card-number" name="number" class="form-control" required>
                        <span class="form-message"></span>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-month">Expiration Month</label>
                        <input type="text" id="card-month" name="month" class="form-control" required>
                        <span class="form-message"></span>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-year">Expiration Year</label>
                        <input type="text" id="card-year" name="year" class="form-control" required >
                        <span class="form-message"></span>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-name">CVC</label>
                        <input type="text" id="card-cvc" name="CVC" class="form-control" required >
                        <span class="form-message"></span>
                    </div>
                </div>
                <input type="hidden" id="method" name="method" value="Credit Card">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" >Submit</button>
      </div>
       
    </div>
</div>

    


      </div>
    
     </form>
      

<form action="/user/stored-order" method="POST">
<!-- Modal -->
<div class="modal fade" id="order-success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        BẠN MUỐN XÁC NHẬN ĐẶT HÀNG?
      </div>
      <div class="modal-footer">
        <input type="hidden" id="method" name="method" value="MOMO">
        <button type="submit" class="btn btn-primary">XÁC NHẬN</button>
      </div>
    </div>
  </div>
</div>

</form>


     


    </div>
  
{{!-- Modal for Zalopay --}}

<div class="modal fade" id="zalopay-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
       ZALOPAY
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#order-success"  >XÁC NHẬN</button>
      </div>
    </div>
  </div>
</div>

{{!-- Modal for MOMO --}}

<div class="modal fade" id="momo-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
       MOMO
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#order-success"  >XÁC NHẬN</button>
      </div>
    </div>
  </div>
</div>



  






<script src="/javascripts/checkout.js"></script>
</div>


