<div class="" style="margin-top: 100px" id="content">
  <div id="accordion">
  <div class="card">
    {{#if (isMatch user.permission "Manager")}}
    <h1 class="under-line-effect under-line-effect--red" style="width: 160px; text-align: center; margin-left: 10px">Các đơn mua hàng</h1>
    {{else}}
    <h1 class="under-line-effect under-line-effect--red" style="width: 160px; text-align: center; margin-left: 10px">Lịch sử mua hàng</h1>
    {{/if}}
    {{#each orders }}
    <div class="card-header" id="heading{{@index}}">
      <h5 class="mb-0">
        <button class="product__item-btn btn-link btn-blue" style="color: white;" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
          Hóa đơn {{sum @index 1}}
          {{#if (isMatch ../user.permission "Manager")}}
            Của: {{this.userName}}
           <i class="fal fa-bars"></i>
          {{/if}}
          
          Đặt vào: {{this.createdAt}}
          <i class="fal fa-bars"></i>
        </button>
      </h5>
    </div>
    {{#if (isMatch ../user.permission "Manager")}}
          ID người dùng: {{this.userID}}
          {{/if}}
    <div id="collapse{{@index}}" class="collapse show" aria-labelledby="heading{{@index}}" data-parent="#accordion">
      <div class="card-body" style="font-size: 1.4rem;">
        <table class="table" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foodname</th>
            <th scope="col">Unit price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.orders}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.item.name}}</td>
            <td>{{this.item.price}} VND</td>
            <td>{{this.qty}}</td>
            <td>{{this.price}} VND</td>
          </tr>
          {{/each}}
        </tbody>
        </table>
        <p>Total : {{this.totalPrice}} VND</p>
        <p>Payment method: {{this.paymentMethod}} </p>
        <p>Payment status: {{this.paymentStatus}} </p>
        <p>Deliver to: {{this.userAddress}} </p>
        <p><b>Order status: {{this.status}} </b></p>
        
        {{!-- Đơn hàng hoàn thành --}}
          {{#if (isMatch this.status "Completed")}}  
            <a href="/user/complete/{{this._id}}"><button class="product__item-btn btn-green" style="color: white;">Give feedback</button></a>
        {{!-- Đơn hàng đã hủy --}}
           {{else if (isMatch this.status "Canceled")}}
            
        
        {{!-- Đơn hàng đang được giao --}}
          {{else if (isMatch ../user.permission "Customer") }}
          <a href="/user/complete/{{this._id}}" type="submit" class="product__item-btn btn-green" style="color: white;">Order Received</a>
          {{else}}

        {{!-- View quản lý --}}
          <span>ORDER PENDING</span>
          {{/if}} 
          {{#if (isMatch this.status "Incomplete")}} 
          <button type="button" class="product__item-btn btn-red" style="color: white;" data-toggle="modal" data-target="#cancel-order" data-id="{{this._id}}">CANCEL</button> {{/if}}
          
          <button type="button" class="product__item-btn btn-red" style="color: white;" data-toggle="modal" data-target="#delete-order" data-id="{{this._id}}">DELETE</button>
      </div> 
      
    </div>
    
    {{/each}}
  </div>
</div>
</div>

     <!--confirm delete-->
<div id="delete-order" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cảnh báo!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" id="btn-delete-order" class="btn btn-danger" >Xóa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


      <!--confirm cancel-->
<div id="cancel-order" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cảnh báo!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn hủy?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" id="btn-cancel-order" class="btn btn-danger" >Đồng ý</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-order-form" method="POST"></form>

<form name="cancel-order-form" method="POST"></form>

<script>
  
  document.addEventListener('DOMContentLoaded',function(){
    var orderId;
    var deleteForm = document.forms['delete-order-form'];
    var cancelForm = document.forms['cancel-order-form'];
    var btnDeleteOrder = document.getElementById('btn-delete-order');
    var btnCancelOrder = document.getElementById('btn-cancel-order');

    $('#delete-order').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        orderId = button.data('id');
    });

    btnDeleteOrder.onclick = function (){
      deleteForm.action = '/user/delete-order/' + orderId;
      deleteForm.submit();
    };

     $('#cancel-order').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); 
        orderId = button.data('id');
    });

    btnCancelOrder.onclick = function (){
      cancelForm.action = '/user/cancel-order/' + orderId;
      cancelForm.submit();
    };
    

  });

</script>
