<div class="" style="margin-top: 100px">
  <div id="accordion">
  <div class="card">
    {{#if (isMatch user.permission "Manager")}}
    <h1>Các đơn mua hàng</h1>
    {{else}}
    <h1>Lịch sử mua hàng</h1>
    {{/if}}
    {{#each orders }}
    <div class="card-header" id="heading{{@index}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
          Hóa đơn {{sum @index 1}}
          {{#if (isMatch ../user.permission "Manager")}}
            Của: {{this.userName}}
          {{/if}}
          
          Đặt vào: {{this.createdAt}}
        </button>
      </h5>
    </div>
    {{#if (isMatch ../user.permission "Manager")}}
          ID người dùng: {{this.userID}}
          {{/if}}
    <div id="collapse{{@index}}" class="collapse show" aria-labelledby="heading{{@index}}" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foodname</th>
            <th scope="col">Unit price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.orders}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.item.name}}</td>
            <td>{{this.item.price}} VND</td>
            <td>{{this.qty}}</td>
            <td>{{this.price}} VND</td>
          </tr>
          {{/each}}
        </tbody>
        </table>
        <p>Total : {{this.totalPrice}} VND</p>
        <p>Payment method: {{this.paymentMethod}} </p>
        <p>Payment status: {{this.paymentStatus}} </p>
        <p>Order status: {{this.status}} </p>
        
        {{!-- Đơn hàng hoàn thành --}}
          {{#if (isMatch this.status "Completed")}}  
            <span>ORDER COMPLETED</span>
        {{!-- Đơn hàng đã hủy --}}
           {{else if (isMatch this.status "Canceled")}}
            <span>ORDER CANCELED</span>
        
        {{!-- Đơn hàng đang được giao --}}
          {{else if (isMatch ../user.permission "Customer") }}
          <form method="POST" action="/user/complete">
          <button type="submit" class="btn btn-success" name="id" value="{{this._id}}">Order Received</button>
          </form>
          {{else}}

        {{!-- View quản lý --}}
          <span>ORDER PENDING</span>
          {{/if}} 
          {{#if (isMatch this.status "Incomplete")}} 
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cancel-order">CANCEL</button> {{/if}}
          
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#delete-order">DELETE</button>
      </div> 
      
    </div>


      <!--confirm delete-->
<div id="delete-order" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cảnh báo!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa?</p>
      </div>
      <div class="modal-footer">
        <form method="POST" action="/user/delete-order">
        <input type="hidden" name="id" id="id" value="{{this._id}}">
        <button type="submit" id="btn-delete-dish" class="btn btn-danger" >Xóa</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>


      <!--confirm cancel-->
<div id="cancel-order" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cảnh báo!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn hủy?</p>
      </div>
      <div class="modal-footer">
        <form method="POST" action="/user/cancel-order">
        <input type="hidden" name="id" id="id" value="{{this._id}}">
        <button type="submit" id="btn-delete-dish" class="btn btn-danger" >Đồng ý</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
      </div>
    </div>
  </div>
</div>
    
    {{/each}}
  </div>
</div>
</div>


