<div class="content__header" style="margin-top: 100px">
    <h3 class="content__header-heading">
        <span class="under-line-effect under-line-effect--red">YOUR PROFILE</span>
    </h3>
</div>


<div class="grid" style="padding-left: 120px;"> 
    <div class="row">
        <div class="col l-6">
            <div class="pl-40 testing">
                <form method="POST" action="/user/updateinfo/{{user._id}}?_method=PUT">
                    <label class="info__label" for="Name">Profile Picture</label>
                    <div id="profile-container">
                        <div class="profileImage_change"><i class="far fa-edit"></i>Change your Avatar</div>
                        <div class="profileImage__wrap">
                            {{#if user.image}}
                            <image id="profileImage" src="{{imageload user.image  user.imageType}}" />
                            {{else}}
                            <image id="profileImage" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" />
                            {{/if}}
                        </div>
                    </div> 
                    <input id="imageUpload" type="file" name="image" placeholder="Photo" required="" capture>
                    {{!-- <input type="file" class="filepond" name="image" > --}}
                    <button type="submit" class="btn btn-primary">Submit</button>   
                </form>
            </div>
        </div>
        <div class="col l-6">
            <div class="user__info pl-40">
                <form method="POST" action="/user/updateinfo/{{user._id}}?_method=PUT">
                    <label class="info__label" for="Name">Name</label><input class="info__value" type="text" name="name"
                        readonly value='{{user.name}}'></input>

                    <label class="info__label" for="Address">Address</label><input class="info__value" type="text"
                        name="address" readonly value="{{user.address}}"></input>

                    <label class="info__label" for="Email">Email</label><input class="info__value" type="email"
                        name="email" readonly value={{user.email}}></input>

                    <input type="button" value="Edit profile" class="btn-large featured-product__btn mb-40 btn-red"
                        style="cursor: pointer; width: 150px"></input>
                    <button type="submit" class="btn btn-primary">Submit</button>    
                </form>
            </div>
        </div>
    </div>
</div>
     
