<div class="grid table-reservation" id="content" style="display: flex; flex-direction: column; align-items: center"> 
    {{!-- <div class="booktable-banner" style="text-align: center;">THANK YOU FOR YOUR RESERVATION !!!</div> --}}
    
    <div class="row">
        <div class="col l-12 table-location mb-40 mt-4">
            <div class="content__header">
                <h3 class="content__header-heading">
                    <span class="under-line-effect under-line-effect--red">YOUR TABLE RESERVATION INFORMATION</span>
                </h3>
                <br/>
                {{#each newtable}}
                <div class="book-table-info">
                    <div class="table-reservation-info">
                        <h3>Tên khách hàng: </h3>
                        <h3>{{this.name}}</h3>
                    </div>
                    <div class="table-reservation-info">
                        <h3>Email: </h3>
                        <h3>{{this.email}}</h3>
                    </div>
                    <div class="table-reservation-info">
                        <h3>Ngày đặt: </h3>
                        <h3>{{this.date}}</h3>
                    </div>
                    <div class="table-reservation-info">
                        <h3>Giờ đặt: </h3>
                        <h3>{{this.time}}</h3>
                    </div>
                    <div class="table-reservation-info">
                        <h3>Bàn số: </h3>
                        <h3>{{this.tableID}}</h3>
                    </div>
                    
                    <div class="table-reservation-info">
                        <h3>-------------------------------- *** --------------------------------</h3>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>  
    </div>  
</div>